@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #FFF9EA;   /* background color */
	font-family: Verdana,Geneva,sans-serif;
	font-size: 90%;
	flex-wrap: wrap;
 
}

#menu {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

a {
	padding: 15px;
	margin: 6px;
	font-size: 130%;
	background-color: #66EEEE; 
	color: #31749F;
	box-shadow: 0 4px 6px 0 gray, 0 6px 10px 0 gray;
	border-radius: 5px;
}

a:hover {
	font-size:150%;
	background-color: #FF6308; 
	color: #404040; 
}

h2 {
	font-family: 'Arimo', sans-serif;
	font-size: 170%;
}

h3 {
	font-family: 'Arimo', sans-serif;
	font-size: 140%;
}

#wrapper {
	width: 80%;
	margin: 0 auto;    /* centers wrapper */
}



