@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #FFF9EA;   /* background color */
	font-family: Verdana,Geneva,sans-serif;
	font-size: 80%;
	flex-wrap: wrap;
 
}

a {
	padding: 15px;
	margin: 5px;
	font-size: 125%;
	background-color: #66EEEE; 
	color: #4190C4;
	box-shadow: 0 4px 6px 0 gray, 0 6px 10px 0 gray;
	flex-wrap:wrap;
	padding-radius: 100;
}

a:hover {
	font-size:150%;
	background-color: #FF6308; 
	color: #404040; 
}

#wrapper {
	width: 80%;
	margin: 0 auto;    /* centers wrapper */
}



